body {
    font-family: "Montserrat";
}
h2 {
    font-weight: bold;
    line-height: 1.5;
}


h3 {
    font-weight: bold;
}

h1,h2,h3 { font-family: Monserrat-Bold;

}

/*Big Heading*/
.big-heading {
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: bold;
    


}


#title {
    background-color: #ff4c68;
    color: #fff;
}

.container-fluid {
    padding: 1% 5% 7%;
}
.navbar {
    padding-bottom:0 0 4.5rem;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;

}
.nav-item {
    padding:0 10px;
    align-items: " ";
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Monserrat-Light";
}
.download-button {
    margin: 5% 3% 5% 0%;
}


/* title img*/
.title-image {
    width:60%;
    transform:rotate(25deg);
    position: absolute;
    max-width: 20%;
    right:30%;

}

#features {
    padding: 7% 15%;
    font-weight: bold;
    background-color: white;
    position: relative;
    

}

.feature-box {
    text-align: center;
    padding: 5%;
}
p {
    color: grey;
}
.icon {
    color: #ef8172;
    margin: 1rem;
    
}
.icon:hover {
    color: #ff4c68;
}


/* testimonials */
#testimonials {
    
    text-align: center;
    background-color: #ef8172;
    color: white;
}
.testimonial-img{
    width:10%;
    border-radius: 100%;
    margin: 20%;
}

#press {
    background: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo {
    width:15%;
    margin: 20px 20px 50px;
}

.carousel-item {
    padding: 7% 13%;
}


/**pricing*/

#pricing {
    padding:100px;
    text-align: center;
}

.pricing-column {
    padding:3% 2%;
}

.price-text {
    font-size: 3rem;
}
#title {
    text-align: center;
}

@media (max-width:1020px) {
    .title-image {
        position: static;
        transform: rotate(0);
    }
}

#cta {
    background-color: #ff4c68;
    font-family: Monserrat Black;
    color: #fff;
    padding: 5% 7% 10%;
    line-height: 1.5;
    text-align: center;
}

#footer {
    text-align: center;
    padding:5% 7% 10%;
    background-color: #fff;
}
